body {
    background-color: #007bff; /* azul */
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .card {
    background-color: white;
    color: #333;
    border-radius: 10px;
  }
  
  .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .btn {
    font-weight: bold;
  }
  